body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
  
  :root {
    --squish-animation-time: 300ms;
    --progress-animation-time: 500ms;
    --circle-animation-time: 300ms;
    --checkmark-animation-time: 300ms;
    --btn-width: 140px;
    --btn-height: 40px;
  }
  
.btn {
    position: relative;
    background-color: #2084c9;
    color: #fff;
    border: none;
    border-radius: .4em;
    width: var(--btn-width);
    height: var(--btn-height);
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.btn:active,
.btn:focus,
.btn:hover,
.btn:target {
    background-color: #105aa8;
}

  .btn.animating {
    background-color: transparent;
    color: transparent;
    user-select: none;
    cursor: default;
    animation: hide 0ms calc(var(--squish-animation-time) + var(--progress-animation-time)) forwards;
  }
  
  .btn::before {
    content: "";
    display: none;
    position: absolute;
    background-color: #E2F5FC;
    inset: 0;
    border-radius: .4em;
    animation: squish var(--squish-animation-time) cubic-bezier(0.26, 0.6, 0.46, 1.7);
    animation-fill-mode: forwards;
  }
  
  
  .btn::after {
    content: "";
    display: none;
    position: absolute;
    background-color: #003087;
    left: 51%;
    right: 51%;
    top: 45%;
    bottom: 45%;
    border-radius: .25em;
    animation: progress var(--progress-animation-time) var(--squish-animation-time);
    animation-fill-mode: forwards;
  }
  
  .btn.animating::before,
  .btn.animating::after {
    display: block;
  }
  
  .btn.animating + .checkmark-container {
    background-color: #003087;
    border-radius: .4em;
    width: 0;
    height: 0;
    animation: circle var(--circle-animation-time) calc(var(--squish-animation-time) + var(--progress-animation-time)) forwards cubic-bezier(0.26, 0.6, 0.46, 1.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn.animating + .checkmark-container .checkmark-svg {
    stroke: white;
    width: 25px;
    stroke-dashoffset: 127.2;
    stroke-dasharray: 130;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
    animation: checkmark var(--circle-animation-time) calc(var(--squish-animation-time) + var(--progress-animation-time) + var(--checkmark-animation-time) - 100ms) forwards;
  }
  
  @keyframes squish {
    100% {
      left: -25%;
      right: -25%;
      top: 40%;
      bottom: 40%;
      border-radius: .25em;
    }
  }
  
  @keyframes progress {
    100% {
      left: -25%;
      right: -25%;
    }
  }
  
  @keyframes hide {
    100% {
      width: 0;
      height: 0;
    }
  }
  
  @keyframes circle {
    0% {
      width: calc(var(--btn-width) * 1.50);
      height: calc(var(--btn-height) * .1);
    }
    100% {
      background-color: #003087;
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }
  }
  
  @keyframes checkmark {
    100% {
      stroke-dashoffset: 0;
    }
  }



  .modal {
  display: block; /* Changed from none to block */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00308733;
  opacity: 0; /* Start fully transparent */
  visibility: hidden; /* Ensure it's not visible when opacity is 0 */
  transition: opacity 0.5s, visibility 0.5s; /* Fade effect and make visible */

  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 0.4rem;
    margin: 15% auto;
    padding: 20px;
    width: 300px;
    height: 300px;
  }
  
  .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }